.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100px;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10%;
}
input{
  height: 100px;
  width: 500px;
  font-size: 80px;
}

